    {{#each allLines}}
        <form id='{{gameid}}'>
            <table>
              <thead>
                <tr>
                    <th class="away-at-home" colspan="2">{{awayLong}} at {{homeLong}}</th>
                    <th class="game-date" colspan="2">{{gameDate}} {{gameTime}}</th>
                    <th><button type="submit">SUBMIT</button></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>AWAY</td>
                    <td>{{awayLong}}</td>
                    <td>BET</td>
                    <td>WIN</td>
                    <td>COLLECT</td>
                </tr>
                <tr>
                    <td>PTS</td>
                    <td>{{awayPts}}</td>
                    <td><label>Bet</label><input name="aspBet" type="number"></td>
                    <td><label>Win</label><input name="aspWin" type="number"></td>
                    <td><label>Collect</label><input name="aspCollect" type="number"></td> <!-- DPTEST enabled for debug -->
                </tr>
                <tr>
                    <td>ML</td>
                    <td>{{awayML}}</td>
                    <td><label>Bet</label><input name="amlBet" type="number"></td>
                    <td><label>Win</label><input name="amlWin" type="number"></td>
                    <td><label>Collect</label><input name="amlCollect" type="number"></td>
                </tr>
                <tr>
                    <td class="rowsep" colspan="5">
                      <input type="hidden" name="awayPts" value="{{awayPts}}"/>
                      <input type="hidden" name="homePts" value="{{homePts}}"/>
                      <input type="hidden" name="awayML" value="{{awayML}}"/>
                      <input type="hidden" name="homeML" value="{{homeML}}"/>
                      <input type="hidden" name="over" value="{{over}}"/>
                      <input type="hidden" name="under" value="{{under}}"/>
                    </td>
                </tr>
                <tr>
                    <td>HOME</td>
                    <td>{{homeLong}}</td>
                    <td>BET</td>
                    <td>WIN</td>
                    <td>COLLECT</td>
                </tr>
                <tr>
                    <td>PTS</td>
                    <td>{{homePts}}</td>
                    <td><label>Bet</label><input name="hspBet" type="number"></td>
                    <td><label>Win</label><input name="hspWin" type="number"></td>
                    <td><label>Collect</label><input name="hspCollect" type="number"></td>
                </tr>
                <tr>
                    <td>ML</td>
                    <td>{{homeML}}</td>
                    <td><label>Bet</label><input name="hmlBet" type="number"></td>
                    <td><label>Win</label><input name="hmlWin" type="number"></td>
                    <td><label>Collect</label><input name="hmlCollect" disabled type="number"></td>
                    
                </tr>
                <tr><td class="rowsep" colspan="5"></td></tr>
                <tr>
                    <td>OVER</td>
                    <td>{{over}}</td>
                    <td><label>Bet</label><input name="overBet" type="number"></td>
                    <td><label>Win</label><input name="overWin" type="number"></td>
                    <td><label>Collect</label><input name="overCollect" type="number"></td>
                </tr>
                <tr>
                    <td>UNDER</td>
                    <td>{{under}}</td>
                    <td><label>Bet</label><input name="underBet" type="number"></td>
                    <td><label>Win</label><input name="underWin" type="number"></td>
                    <td><label>Collect</label><input name="underCollect" type="number"></td>
                </tr>
             </tbody>
            </table>
        </form>
        <div class="vspacer"></div>
    {{else}}
      <div class="no-lines">
      <p>No lines available. Is it Tuesday?</p>
      <p>Or if <a href="/admin" alt="admin page"><code>simdate</code></a> is set to a date
      in the past, perhaps try another <code>simdate</code>, as only some past dates have cached lines available.</p>
      <p>(You will need to be administrator to change <code>simdate</code>).</p>
      </div>
    {{/each}}
    <script src="js/bet.js"></script>
<script>
async function submitBet(ev) {
  ev.preventDefault();
  const inps = ev.target.getElementsByTagName("input");
  const x = {};
  for (nv of inps)
    x[nv.name] = 0 + Number(nv.value);
  x.gameid = ev.target.getAttribute("id");
  var requestConfig = {
    method: 'POST',
    contentType: 'application/json',
    data: JSON.stringify(x),
    url: '/bet',
  };
  $.ajax(requestConfig)
    .then(x => {
      if (x.status == 200) {
        const button = ev.target.getElementsByTagName("button");
        button[0].outerHTML = "<div class='confirmed'>CONFIRMED</div>";
      }
      console.log(JSON.stringify(x));
    })
    .catch(e => alert(JSON.stringify(e.responseJSON)));
}
$('form').submit(submitBet);
$(document).ready(function () {
$('input').change(inputChanged);
});

function inputChanged(ev) {
  let inp = ev.currentTarget;
  let form = inp.form;
  const awayPts = form.awayPts.value;
  const awayML = form.awayML.value;
  const homePts = form.awayPts.value;
  const homeML = form.homeML.value; 
  const over = form.over.value;
  const under = form.under.value;

  switch (inp.name) {
  case "aspBet":
    form.aspWin.value = Math.ceil(form.aspBet.value / 1.1);
    form.aspCollect.value = Number(form.aspBet.value) + Number(form.aspWin.value);
    break;
  case "aspWin":
    form.aspBet.value = Math.ceil(form.aspWin.value * 1.1)
    form.aspCollect.value = Number(form.aspBet.value) + Number(form.aspWin.value);
    break;
  case "hspBet":
    form.hspWin.value = Math.ceil(form.hspBet.value / 1.1);
    form.hspCollect.value = Number(form.hspBet.value) + Number(form.hspWin.value);
    break;
  case "hspWin":
    form.hspBet.value = Math.ceil(form.hspWin.value * 1.1);
    form.hspCollect.value = Number(form.hspBet.value) + Number(form.hspWin.value);
    break;
  case "amlBet":
    if (awayML > 0)
      form.amlWin.value = Math.floor(awayML * Number(form.amlBet.value) / 100.0);
    else
      form.amlWin.value = Math.floor(Number(-form.amlBet.value) * 100.0 / awayML);
    form.amlCollect.value = Number(form.amlBet.value) + Number(form.amlWin.value);
    break;
  case "amlWin":
/* TBD DPTEST finish later?
    if (awayML > 0)
      form.amlWin.value = Math.floor(awayML * Number(form.amlBet.value) / 100.0);
    else
      form.amlWin.value = Math.floor(Number(-form.amlBet.value) * 100.0 / awayML);
*/
    form.amlCollect.value = Number(form.amlBet.value) + Number(form.amlWin.value);
    break;
  case "hmlBet":
    if (homeML > 0)
      form.hmlWin.value = Math.floor(homeML * Number(form.hmlBet.value) / 100.0);
    else
      form.hmlWin.value = Math.floor(Number(-form.hmlBet.value) * 100.0 / homeML);
    form.hmlCollect.value = Number(form.hmlBet.value) + Number(form.hmlWin.value);
    break;
  case "hmlWin":
/*
    if (homeML > 0)
      form.hmlWin.value = Math.floor(homeML * Number(form.hmlBet.value) / 100.0);
    else
      form.hmlWin.value = Math.floor(Number(-form.hmlBet.value) * 100.0 / homeML);
*/
    form.hmlCollect.value = Number(form.hmlBet.value) + Number(form.hmlWin.value);
    break;
  case "overBet":
    form.overWin.value = Math.ceil(Number(form.overBet.value) / 1.1);
    form.overCollect.value = Number(form.overBet.value) + Number(form.overWin.value);
    break;
  case "overWin":
    form.overBet.value = Math.ceil(Number(form.overWin.value * 1.1));
    form.overCollect.value = Number(form.overBet.value) + Number(form.overWin.value);
    break;
  case "underBet":
    form.underWin.value = Math.ceil(Number(form.underBet.value) / 1.1);
    form.underCollect.value = Number(form.underBet.value) + Number(form.underWin.value);
    break;
  case "underWin":
    form.underBet.value = Math.ceil(Number(form.underWin.value * 1.1));
    form.underCollect.value = Number(form.underBet.value) + Number(form.underWin.value);
  default:
    alert("unknown " + inp.name);
    break;
  }
}

</script>
